
body {
    
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Great Vibes', cursive;
    margin: 0px;

}

h1 {
    text-align: center;
    font-size: 85px;
    color: blue;
    /* background-color: greenyellow; */
    background-position: bottom;
    margin-top: 100px;
}

/* h2 {
    text-align: center;
    margin-top: 200px;
    font-size: 56px;
} */

.efectoEspejo {
    -webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5)));
   }

.botones {
    margin-top: 100px;
    list-style-type: none;
    /* text-align: center; */
    font-size: 30px;
    display: inline-flex;
    /* height: 50px; */
    
}

.ladoIzquierdo {
    width: 30%;
    text-align: Center;
    background-color: burlywood;
    margin-left: 25px;
    margin-right: 25px;
}

.ladoCentro {
    width: 30%;
    text-align: center;
    /* width: 130%; */
    background-color: blueviolet;
    margin-left: 25px;
    margin-right: 25px;
}


.ladoDerecho {
    width: 30%;
    text-align: center;
    /* width: 130%; */
    background-color: greenyellow;
    margin-left: 25px;
    margin-right: 25px;
}

.ladoIzquierdo:hover {
    cursor: pointer;
    background-color: hotpink;
    animation: mouseArriba 1s;
}

.ladoIzquierdo:not(:hover) {
    animation: mouseFuera 1s;

}

@keyframes mouseArriba {
    from {background-color: burlywood;}
    to {background-color: hotpink;}
  }

  @keyframes mouseFuera {
    
    from {background-color: hotpink;}
    to {background-color: burlywood;}
  }

/* 
#PC, #AS, #SW {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    text-align: center;
    display: block;
    margin: auto;
}

#PC:hover {
    cursor: pointer;
    color: black;    
    margin-left: 35px;
    font-size: 35px;
}

#SW:hover {
    cursor: pointer;
    color: black;    
    margin-left: 35px;
    font-size: 35px;
}

#AS:hover {
    cursor: pointer;
    color: black;    
    margin-left: 35px;
    font-size: 35px;
} */
